
@model EmployeeManagement.Models.Employee

@{
    ViewBag.Title = "Create Employee (AJAX";
}

<h2>Create Employee(AJAX</h2>

<form id="empForm">
    <div class="form-group">
        <label for="Name">Name : </label>
        <input id="Name" name="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Email">Email : </label>
        <input id="Email" name="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Department">Department : </label>
        <input id="Department" name="Department" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Salary">Salary : </label>
        <input id="Salary" name="Salary" class="form-control" />
    </div>

    <button type="submit" class="btn-primary">Save (AJAX)</button>
    <a href="@Url.Action("Index")" class="btn btn-default">Back to List</a>

</form>

@section scripts{
   <script>
        $(function(){
            $("#empform").Validate({
                rules:{
                    Name: { required: true},
                    Email: { required: true, email: true},
                    Department: { required: true},
                    Salary: {required: true, number: true, min: 0}
                 }
            });

        $("#empForm").on("submit", function(e){
            e.preventDefault();
            if(!$(this).valid()) return;
    
        const defaults = {id: 0, Name: "", Email: "", Department: "", Salary: 0};

        const formData = {
            Name: $("#Name").val().trim(),
            Email:$("#Email").val().trim(),
            Department: $("Department").val().trim(),
            Salary: parseFloat($("#Salary").val()) || 0
        };

        const payload = { ...defaults, ...formData};

            $.ajax({
                url: '@Url.Action("AjaxCreate", "Employee")',
                method: 'POST',
                data: payload,
                success: function(res){
                    if(res.success){
                        $("#message").html('<div class="alert alert-success">Saved successfully.</div>');
                        setTimeout(function () { window.location = '@Url.Action("Index","Employee")'; }, 800);
                    }
                    else{
                        $("#message").html('<div class="alert alert-danger">Save Failed</div>');
                    }
                },
        
                error: function(xhr){
                    $("#message").html('<div class="alert alert-danger">Error during save.</div>');
                }
            });
        });
    });
</script>
}